.bg-dark{
  background-color: black;
}

.navbar-light .navbar-brand{
  color:white !important;
  margin: auto;
}

.navbar-light .navbar-toggler{
  border: none;
}

.btn-primary{
  background-color: #AF1212 !important;
  border: none;
  width: 100%;
  height: 15vh;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
}